* {
    padding-left: 20px;
}
body {
    background-color: rgb(0, 162, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
table {
    font-size: x-large;
    width: 40%;
    height: 350px;
    background-color: rgb(198, 200, 202);
    margin-left: 600px;
    padding-left: 0;
}

.main {
    background-color: black;
    color: white;
    padding-left: 20px;
}

.tr1 {
    background-color: rgba(231, 226, 226, 0.808);
    color: black;
    margin-top: 0;
    padding-left: 10px;
    
}

.tr2 {
    background-color: white;
    margin-top: 0;
    padding-left: 10px;
}

h1 {
    margin-left: 580px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-top: 60px;
}



